rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /pegawai/{nip} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.token.email == "choiruddin2410@gmail.com";
    }
    match /cuti/{cutiId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.token.email == "choiruddin2410@gmail.com";
    }
  }
}
